<%= form_with(model: veterinario) do |form| %>
  <% if veterinario.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(veterinario.errors.count, "error") %> prohibited this veterinario from being saved:</h2>

      <ul>
        <% veterinario.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :nome %>
    <%= form.text_field :nome %>
  </div>

  <div class="field">
    <%= form.label :cmrv %>
    <%= form.text_field :cmrv %>
  </div>

  <div class="field">
    <%= form.label :especialidade %>
    <%= form.text_area :especialidade %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
